{% extends 'base.html' %}

{% block content %}

<br>
<h2 class="text-center">Enter your Email</h2>
<br/>
<div class="col-md-4 offset-md-4">

<form method="POST">
    {% csrf_token %}
   <div class="form-group">
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" placeholder="Enter your email address">
<!--    <small id="emailHelp" class="form-text text-muted">eg. name@example.com</small>-->
  </div>

  <button type="submit" class="btn btn-primary btn-sm text-right">Submit</button>

</form>
  <br>
</div>

{% endblock %}
